body {
    /* color: black; */
    background-color: rgb(58, 247, 105);
    background-image: url("https://wallpapercave.com/wp/wp2343900.png");
    padding: 100px 0;
    /* background-size: contain; */
}

.login {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 150px;
    font-family: Verdana, sans-serif;
}

.loginButton {
    font-size: 20px;
    /* font-family: "Gill Sans", sans-serif; */
    font-family: 'Russo One', sans-serif;
    border-style: none;
    padding: 10px;
    margin: 25px 0;
    border-radius: 10px;
}

.title {
    /* font-family: Arial, sans-serif; */
    font-family: 'Orbitron', sans-serif;;
}

.subTitle {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 5px;
}

.listBorder {
    padding: 40px;
    font-size: 20px;
    font-weight: thick;
    /* font-family: Verdana, sans-serif; */
    font-family: 'Orbitron', sans-serif;;
    border-width: 2em;
    border-bottom: solid;
}

.genreOption {
    font-size: 16px;
    padding: 4px;
    font-family: Verdana, sans-serif;
    border-radius: 10px;
    border-style: none;
    font-weight: 100;
}

.subGenre {
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
}

.main {
    padding: 20px;
    margin: 40px 400px;
    text-align: center;
    border-style: none;
    background-color: rgb(248, 247, 192);
    border-radius: 20px;
}

.houseMain {
    padding: 20px;
    margin: 40px 300px;
    text-align: center;
    border-style: solid;
    color: rgb(214, 218, 221);
    background-color: rgb(20, 69, 230);
    /* border-radius: 10px; */
}

.tranceMain {
    padding: 20px;
    margin: 40px 280px;
    text-align: center;
    border-style: none;
    color: rgb(251, 253, 253);
    background-color: rgb(88, 202, 223);
    border-radius: 20px;
}

.futureBassMain {
    padding: 20px;
    margin: 40px 350px;
    text-align: center;
    border-style: none;
    background-color: rgb(216, 197, 25);
    border-radius: 50px;
}

.trapMain {
    padding: 20px;
    margin: 40px 300px;
    text-align: center;
    border-style: solid;
    background-color: rgb(161, 15, 10);
    border-width: 1em; 
}

.moombahtonMain {
    padding: 20px;
    margin: 40px 400px;
    text-align: center;
    border-style: solid;
    background-color: rgb(136, 214, 10);
    /* border-width: 1em;  */
}

.dubstepMain {
    padding: 20px;
    margin: 40px 300px;
    text-align: center;
    border-style: solid;
    color: rgb(249, 250, 253);
    background-color: rgb(158, 2, 132);
    border-color:rgb(136, 214, 10);
    border-width: 4px 1.25em;
}

.drumAndBassMain {
    padding: 20px;
    margin: 40px 300px;
    text-align: center;
    border-style: none;
    color: rgb(238, 240, 245);
    background-color: rgb(2, 13, 112);
    /* border-width: 1em;  */
    border-radius: 40px;
}

.hardDanceMain {
    padding: 20px;
    margin: 40px 275px;
    text-align: center;
    border-style: solid;
    border-color: yellow;
    color: red;
    background-color: rgb(26, 25, 25);
    border-width: 1em; 
}

.synthwaveMain {
    padding: 20px;
    margin: 40px 350px;
    text-align: center;
    border-style: none;
    color: rgb(10, 48, 153);
    background-color: rgb(181, 6, 235);
    border-width: 2em;
    border-radius: 100px;
}

.technoMain {
    padding: 20px;
    margin: 40px 275px;
    text-align: center;
    border-style: solid;
    color: rgb(5, 5, 5);
    background-color: rgb(133, 131, 131);
    border-width: 2ex 1.25ex 0.5ex;
}

.playSong {
    padding: 14px;
    border-style: none;
    border-radius: 30px;
    font-weight: bold;
}